{% extends "base.html" %}
{% block title %}Информация о клинике{% endblock %}
{% block content %}
<h2>О клинике АРГОДЕНТ</h2>
<p>Клиника "АРГОДЕНТ" — это современная стоматологическая клиника, предоставляющая широкий спектр высококачественных услуг для пациентов всех возрастов. Мы ориентированы на результат, комфорт и безопасность каждого пациента, обеспечивая индивидуальный подход к лечению и профилактике заболеваний зубов и полости рта.</p>
<img src="{{ url_for('static', filename='images/clinic.png') }}" alt="Фото клиники АРГОДЕНТ" class="img-fluid mt-3">
<section class="clinic-info mt-4">
  <p>Наши специалисты — опытные стоматологи, использующие новейшие технологии и методы лечения, что позволяет нам обеспечивать высокую эффективность и безболезненность процедур. Мы предлагаем полный спектр стоматологических услуг, включая терапевтическое лечение, ортодонтию, имплантацию, хирургическое вмешательство, а также услуги по восстановлению зубов с применением высококачественных материалов.</p>
  <p>Клиника оснащена современным оборудованием, которое соответствует мировым стандартам, что позволяет проводить диагностику и лечение с высокой точностью и минимальными рисками. Мы также уделяем особое внимание стерильности и безопасности, что подтверждается строгим соблюдением всех санитарных норм и стандартов.</p>
  <p>В АРГОДЕНТ мы ценим доверие наших пациентов, поэтому предоставляем гарантии на все виды работ и обеспечиваем доступные цены без ущерба для качества обслуживания. В нашей клинике каждый пациент может быть уверен, что получит максимальный комфорт и профессиональную заботу на каждом этапе лечения.</p>
  <p>Будь то простое профилактическое обследование или сложная хирургическая операция, мы сделаем все возможное, чтобы ваше посещение «НАЗВАНИЕ КЛИНИКИ» было приятным и эффективным.</p>
</section>
{% endblock %}